.blackjack {
    width:80vw;
    height: 100%;
    background-color: var(--green);
    padding: 20px;
    top: 50px;
}

.outline {
    outline: red dashed 2px;
}

section {
    min-width: 100%;
    min-height:30vw;
    border-radius:20px;
    outline:blue dashed 2px;
    display: flex;
}

div {
    width:max-content;
    height: max-content;
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
}

h3 {
    color: var(--dark);
}

button {
    border-radius:20px;
    min-width: 100px;
}

/* Classes */

.count{
    justify-content: flex-start;
}

.deal-button {
    background-color: yellow;
    justify-content: flex-end;
}

.hit-stand-container {
    justify-content: flex-end;
}

.hit-button {
    background-color: var(--cyan);
}

.stand-button {
    background-color: var(--red);
}