/* Style for the whole landing page container */
/* Style for the whole landing page container */
.landing-page {
  width:100%;
  min-width:90vw;
  height: 100%;
  background-color: var(--red);
  padding: 20px;
  border-radius: 10px; /* Adjust the radius as needed */
  overflow: hidden; /* Ensures that the border-radius is applied */
  font-family: 'Cardo', serif; /* Apply the "Cardo" font */
}

/* Style for the navigation bar */
.landing-navbar {
  background-color: #333; /* Set your desired navbar background color */
  padding: 10px;
  border-radius: 10px; /* Adjust the radius as needed */
  overflow: hidden; /* Ensures that the border-radius is applied */
}

.landing-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.landing-nav-item {
  margin-right: 20px;
  padding: 10px;
  border-radius: 10px; /* Adjust the radius as needed */
  overflow: hidden; /* Ensures that the border-radius is applied */
}

.landing-nav-item a {
  text-decoration: none;
  color: #fff; /* Set your desired link text color */
  font-weight: bold;
  font-size: 18px;
}

/* Hover effect for navigation items */
.landing-nav-item:hover {
  background-color: rgba(255, 0, 0, 0.5); /* Change the text color with opacity; /* Change the background color on hover */
  transition: background-color 0.3s ease;
}

.landing-content {
  width:100%;
  min-width:90vw;
  height: 100%;
  text-align: center;
}

/* Style for the title */
.landing-title {
  font-size: 60px;
  margin-bottom: 0;
  margin-top: 20px;
}

/* Style for the logo */
.logo {
  width: 33.3%; /* Set your desired logo width */
  height: auto;
}

#no-login {
  color: white;
}
/* #Landing-Header {
    font-size: 36px;
    color: #333;
  }
  
  /* Style for the links */
  /* h2 {
    text-decoration: none;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  h2:hover {
    background-color: #0056b3;
  } */